<p>Notflix is Great</p>

<div class="container">
  <button class="btn-primary" type="submit" (click)="addMovieToList(mock)">
    Add new movie
  </button>

  <div class="row">
    <div class="col-md-12">
      <ul>
        <li
          class="grid-container col-md-4"
          *ngFor="let movieItem of objectMovies"
        >
          <iframe
            width="200"
            height="180"
            [src]="movieItem.link | safe"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
          <p>{{ movieItem.name }} (rate: {{ movieItem.rate }})</p>
        </li>
      </ul>
    </div>
  </div>
</div>
