<p>Notflix is  Great</p>

<ul>
    
    <li class="grid-container" *ngFor="let movieItem of objectMovies">
           Id {{movieItem.id}}
           Name {{movieItem.name}}
           Genre {{movieItem.genre}}
           <div>
            <iframe width="200" height="200" src="https://www.youtube.com/embed/XmtXC_n6X6Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
           </div>
           
    </li>
</ul>
